extends ./layout


block bodyContainer
  include ./menu
  #contentContainer
    include ./header
    .pageContainer.statsConfigs
      .panel.panel-default
        .panel-heading Configs
        .panel-body
          p 可以通过各种配置的组合，生成自定义的统计分析
        table.table
          thead: tr
            th name
            th type
            th date
            th interval
            th op
            th stats

          tbody
            each config in viewData.configs
              tr(data-id='#{config._id}')
                td.name #{config.name}
                td #{config.type}
                td start:#{config.date.start}, end:#{config.date.end}
                td #{config.point.interval}
                td
                  .btn-group
                    a.btn.btn-default.preview(title='预览', href='javascript:;')
                      span.glyphicon.glyphicon-play
                    a.btn.btn-default.toggle(title='添加/删除', href='javascript:;')
                      span.glyphicon.glyphicon-plus
                td
                  pre.stats #{JSON.stringify(config.stats, null, 2)}

      .chartViewContainer.hidden
        .panel.panel-default
          .panel-heading
            h3.panel-title
              a.glyphicon.glyphicon-remove.close(href='javascript:;')
              | 预览
          .panel-body loading...

      .statsTemplateConfig.hidden
        .panel.panel-default
          .panel-heading
            h3.panel-title 统计配置
          .panel-body
            .configs.row
            .row
              .col-xs-8
                .input-group
                  span.input-group-addon 配置名称
                  input.setName(type='text', class='form-control')
              .col-xs-4
                a.btn.btn-success.save(href='javascript:;') 保存
  - fileImporter.import(['/javascripts/configs.js', '/stylesheets/configs.css']);

